@font-face {
  font-family: 'wly-media';
  src: url('fonts/wly-media.eot?tpojut');
  src: url('fonts/wly-media.eot?tpojut#iefix') format('embedded-opentype'), url('fonts/wly-media.ttf?tpojut') format('truetype'), url('fonts/wly-media.woff?tpojut') format('woff'), url('fonts/wly-media.svg?tpojut#wly-media') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wly-media' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add:before {
  content: "\e900";
  color: #464C5B;
}
.icon-edit:before {
  content: "\e901";
  color: #464c5b;
}
.icon-remove:before {
  content: "\e902";
  color: #464c5b;
}
.icon-download:before {
  content: "\e903";
  color: #464c5b;
}
.icon-video_play:before {
  content: "\e904";
}
.icon-audio_play:before {
  content: "\e905";
}
